/*
	Macropalpis
	Core module
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  line-height: 1.425;
}

img {
  max-width: 100%;
}

ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}
/*
	Macropalpis
	Display module
*/

.dn,
.hide {
  display: none;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

@media (min-width: 48em) {
  .dn-m,
  .hide-m {
    display: none;
  }

  .db-m {
    display: block;
  }

  .di-m {
    display: inline;
  }

  .dib-m {
    display: inline-block;
  }
}
/*
	Macropalpis
	Font-family module
*/

.serif {
  font-family: serif;
}

.sans {
  font-family: sans-serif;
}

.mono {
  font-family: monospace;
}

@media (min-width: 48em) {
  .serif-m {
    font-family: serif;
  }

  .sans-m {
    font-family: sans-serif;
  }

  .mono-m {
    font-family: monospace;
  }
}
/*
	Macropalpis
	Font-size module
*/

.f1 {
  font-size: .85rem;
}

.f2 {
  font-size: 1rem;
}

.f3 {
  font-size: 1.25rem;
}

.f4 {
  font-size: 1.5rem;
}

.f5 {
  font-size: 2rem;
}

.f6 {
  font-size: 4rem;
}

.f7 {
  font-size: 8rem;
}

@media (min-width: 48em) {
  .f1-m {
    font-size: .85rem;
  }

  .f2-m {
    font-size: 1rem;
  }

  .f3-m {
    font-size: 1.25rem;
  }

  .f4-m {
    font-size: 1.5rem;
  }

  .f5-m {
    font-size: 2rem;
  }

  .f6-m {
    font-size: 4rem;
  }

  .f7-m {
    font-size: 8rem;
  }
}