---
permalink: macropalpis.css
---

{% include "theme.css" %}

{% include "background-color.css" %}
{% include "background-position.css" %}
{% include "background-repeat.css" %}
{% include "background-size.css" %}
{% include "border-color.css" %}
{% include "border-radius.css" %}
{% include "color.css" %}
{% include "container.css" %}
{% include "display.css" %}
{% include "font-family.css" %}
{% include "font-sizes.css" %}
{% include "font-weight.css" %}
{% include "grid.css" %}
{% include "margin.css" %}
{% include "text-align.css" %}