.gray50  {color: var(--gray50)}
.gray100 {color: var(--gray100)}
.gray200 {color: var(--gray200)}
.gray300 {color: var(--gray300)}
.gray400 {color: var(--gray400)}
.gray500 {color: var(--gray500)}
.gray600 {color: var(--gray600)}
.gray700 {color: var(--gray700)}
.gray800 {color: var(--gray800)}
.gray900 {color: var(--gray900)}

.primary   {color: var(--primary);}
.secondary {color: var(--secondary);}
.accent    {color: var(--accent);}