.h1{ font-size: 8rem; line-height: 1; }
.h2{ font-size: 6rem; line-height: 1; }
.h3{ font-size: 4.5rem; line-height: 1; }
.h4{ font-size: 3.75rem; line-height: 1; }
.h5 { font-size: 3rem; line-height: 1; }
.h6 { font-size: 2.25rem; line-height: 2.5rem; }
.h7 { font-size: 1.875rem; line-height: 2.25rem; }
.h8 { font-size: 1.5rem; line-height: 2rem; }
.f3 { font-size: 1.25rem; line-height: 1.75rem; }
.f2 { font-size: 1.125rem; line-height: 1.75rem; }
.f1  { font-size: 1rem; line-height: 1.5rem; }
.fs { font-size: 0.875rem; line-height: 1.25rem; }
.fx { font-size: 0.75rem; line-height: 1rem; }