
.p0 {padding: 0}
.p1	  {padding: 0.25rem;}
.p1.5	{padding: 0.375rem;}
.p2	  {padding: 0.5rem;}
.p2.5	{padding: 0.625rem;}
.p3	  {padding: 0.75rem;}
.p3.5	{padding: 0.875rem;}
.p4	  {padding: 1rem;}
.p5	  {padding: 1.25rem;}
.p6	  {padding: 1.5rem;}
.p7	  {padding: 1.75rem;}
.p8	  {padding: 2rem;}
.p9	  {padding: 2.25rem;}
.p10	  {padding: 2.5rem;}
.p11	  {padding: 2.75rem;}
.p12	  {padding: 3rem;}
.p14	  {padding: 3.5rem;}
.p16	  {padding: 4rem;}
.p20	  {padding: 5rem;}
.p24	  {padding: 6rem;}
.p28	  {padding: 7rem;}
.p32	  {padding: 8rem;}
.p36	  {padding: 9rem;}
.p40	  {padding: 10rem;}
.p44	  {padding: 11rem;}
.p48	  {padding: 12rem;}
.p52	  {padding: 13rem;}
.p56	  {padding: 14rem;}
.p60	  {padding: 15rem;}
.p64	  {padding: 16rem;}
.p72	  {padding: 18rem;}
.p80	  {padding: 20rem;}
.p96	  {padding: 24rem;}