:root {
  /* Breakpoints */
  --bp-sm: 640px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;

  /* Basic */
  --black: #000;
  --white: #fff;

  /* Gray */
  --gray1: #f8f8f8;
  --gray2: #eee;
  --gray3: #e0e0e0;
  --gray4: #bdbdbd;
  --gray5: #9e9e9e;
  --gray6: #757575;
  --gray7: #616161;
  --gray8: #424242;
  --gray9: #212121;

  /* Brand */
  --primary1 :   rgba(41, 98, 255, 1);
  --primary2 :   rgba(41, 98, 255, .5);
  --primary3 :   rgba(41, 98, 255, .25);
  --secondary1:  rgba(0, 229, 255, 1);
  --secondary2:  rgba(0, 229, 255, .5);
  --secondary3:  rgba(0, 229, 255, .25);
  --accent1:     rgba(255, 171, 0, 1);
  --accent2:     rgba(255, 171, 0, .5);
  --accent3:     rgba(255, 171, 0, .25);

  /* Font sizes */

  /* Spacing */
  --spacing-0:  0;
  --spacing-1:  .25rem;
  --spacing-2:  .5rem;
  --spacing-3:  .75rem;
  --spacing-4:  1rem;
  --spacing-5:  1.5rem;
  --spacing-6:  2rem;
  --spacing-7:  4rem;
  --spacing-8:  6rem;
  --spacing-9:  8rem;
  --spacing-10: 10rem;
  --spacing-11: 12rem;
  --spacing-12: 16rem;
}