:root {
  /* Breakpoints */
  --bp-sm: 640px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;

  /* Basic */
  --black: #000000;
  --white: #FFFFFF;

  /* Gray */
  --gray50 : #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;

  /* Brand */
  --primary :      #2962FF;
  --secondary:     #00E5FF;
  --accent:        #FFAB00;

  /* Font sizes */

  /* Spacing */
  --spacing-0:  0;
  --spacing-1:  .25rem;
  --spacing-2:  .5rem;
  --spacing-3:  .75rem;
  --spacing-4:  1rem;
  --spacing-5:  1.5rem;
  --spacing-6:  2rem;
  --spacing-7:  4rem;
  --spacing-8:  6rem;
  --spacing-9:  8rem;
  --spacing-10: 10rem;
  --spacing-11: 12rem;
  --spacing-12: 16rem;
}