/* 

	macropalpis 08/14/17

	background-repeat module: v1
	class, value = no-repeat, repeat-*

*/

.no-repeat {
	background-repeat: no-repeat;
}

.repeat-x {
	background-repeat: repeat-x;
}

.repeat-y {
	background-repeat: repeat-y;
}

@media (min-width:48rem) {

	.no-repeat-l {
		background-repeat: no-repeat;
	}

	.repeat-x-l {
		background-repeat: repeat-x;
	}

	.repeat-y-l {
		background-repeat: repeat-y;
	}

}