/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	base Module

*/


// make .h100 possible

html,
body {
	height: 100%;
	min-height: 100%;
}


// Fix box-model

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


// Basic body styles

body {
	color: $body-color;
	font-size: $body-font-size;
	background: $body-bg;
	line-height: 1.4;
}


// Securing image viewports

img {
	max-width: 100%;
}


// Fix aligning list indicators

ul {
	list-style-position: inside;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.25;
}
