/* 

	border-radius module

*/

.bdr0 { border-radius: 0; }
.bdr1 { border-radius: 2px; }
.bdr2 { border-radius: 3px; }
.bdr3 { border-radius: 5px; }
.bdr4 { border-radius: 7px; }

.bdr100	{ border-radius: 999px; }