/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	border-color Module
	

	class	suffix		result
	------------------------------------
	bc 		numeric		brand color
	bc-		color		interface color

*/

.bc0 { border-color: #222; }
.bc1 { border-color: #666; }
.bc2 { border-color: #aaa; }
.bc3 { border-color: #ccc; }
.bc4 { border-color: #ddd; }
.bc5 { border-color: #eee; }

.bc-red { border-color: #f00; }
.bc-blue { border-color: #00f; }
.bc-green { border-color: #0f0; }

@media (min-width:768px) {
	.bc0-M { border-color: #222; }
	.bc1-M { border-color: #666; }
	.bc2-M { border-color: #aaa; }
	.bc3-M { border-color: #ccc; }
	.bc4-M { border-color: #ddd; }
	.bc5-M { border-color: #eee; }

	.bc-red-M { border-color: #f00; }
	.bc-blue-M { border-color: #00f; }
	.bc-green-M { border-color: #0f0; }
}

@media (min-width:1024px) {
	.bc0-L { border-color: #222; }
	.bc1-L { border-color: #666; }
	.bc2-L { border-color: #aaa; }
	.bc3-L { border-color: #ccc; }
	.bc4-L { border-color: #ddd; }
	.bc5-L { border-color: #eee; }

	.bc-red-L { border-color: #f00; }
	.bc-blue-L { border-color: #00f; }
	.bc-green-L { border-color: #0f0; }
}