/* 

	border module

	suffix index:

		_ = all
		t = top
		r = right
		b = bottom
		l = left

*/

.bd0   { border: none }
.bd1   { border: 1px solid #222; }
.bdt1  { border-top: 1px solid #222; }
.bdr1  { border-right: 1px solid #222; }
.bdb1  { border-bottom: 1px solid #222; }
.bdl1  { border-left: 1px solid #222; }

@media (min-width:$bp_m){
	.bd0_m   { border: none }
	.bd1_m   { border: 1px solid #222; }
	.bdt1_m  { border-top: 1px solid #222; }
	.bdr1_m  { border-right: 1px solid #222; }
	.bdb1_m  { border-bottom: 1px solid #222; }
	.bdl1_m  { border-left: 1px solid #222; }
}

@media (min-width:$bp_l){
	.bd0_l   { border: none }
	.bd1_l   { border: 1px solid #222; }
	.bdt1_l  { border-top: 1px solid #222; }
	.bdr1_l  { border-right: 1px solid #222; }
	.bdb1_l  { border-bottom: 1px solid #222; }
	.bdl1_l  { border-left: 1px solid #222; }
}