/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	clear Module


	class	suffix			result
	---------------------------------------
	c 		alphabetic		clear alignment


	alphabetic index
	----------------
	n   =  none
	l	=  left
	r  	=  right
	b  	=  both

	f  	=  fix

	Nicolas Gallaghers Clearfix --------------------
	http://nicolasgallagher.com/micro-clearfix-hack/

*/



.cf	{ 
	&:before, &:after {
	    content: " ";
	    display: table; 
	}
	&:after {
	    clear: both;
	}
}

.cn	{ clear: none; }
.cl	{ clear: left; }
.cr	{ clear: right; }
.cb	{ clear: both; }

@media (min-width:$M){
	.cn--m { clear: none; }
	.cl--m { clear: left; }
	.cr--m { clear: right; }
	.cb--m { clear: both; }
}

@media (min-width:$bp--l){
	.cn--l { clear: none; }
	.cl--l { clear: left; }
	.cr--l { clear: right; }
	.cb--l { clear: both; }
}