/* 

	clear module

*/

// Nicolas Gallaghers Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/

.cf	{ 
	&:before, &:after {
	    content: " ";
	    display: table; 
	}
	&:after {
	    clear: both;
	}
}

.cn	{ clear: none; }
.cl	{ clear: left; }
.cr	{ clear: right; }
.cb	{ clear: both; }

@media (min-width:$bp_m){
	.cn_m { clear: none; }
	.cl_m { clear: left; }
	.cr_m { clear: right; }
	.cb_m { clear: both; }
}

@media (min-width:$bp_l){
	.cn_l { clear: none; }
	.cl_l { clear: left; }
	.cr_l { clear: right; }
	.cb_l { clear: both; }
}