/* 

	color module

*/

.white { color: #fff; }
.black { color: #111; }

.c1 { color: red; }
.c2 { color: blue; }
.c3 { color: yellow; }


// basic color palette
.red 	 { color: #111; }
.green 	 { color: #111; }
.blue 	 { color: #111; }
.orange  { color: #111; }
.brown 	 { color: #111; }
.purple  { color: #111; }
.cyan 	 { color: #111; }
.magenta { color: #111; }
.yellow  { color: #111; }