/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	color Module


	class	suffix		result
	------------------------------------
	c 		numeric		brand color
	c-		color		interface color

*/

.c0 { color: #222; }
.c1 { color: #666; }
.c2 { color: #aaa; }
.c3 { color: #ccc; }
.c4 { color: #ddd; }
.c5 { color: #eee; }

.cred { color: #f00; }
.cblue { color: #00f; }
.cgreen { color: #0f0; }

@media (min-width:48em) {
	.c0-M { color: #222; }
	.c1-M { color: #666; }
	.c2-M { color: #aaa; }
	.c3-M { color: #ccc; }
	.c4-M { color: #ddd; }
	.c5-M { color: #eee; }

	.cred-M { color: #f00; }
	.cblue-M { color: #00f; }
	.cgreen-M { color: #0f0; }
}

@media (min-width:64em) {
	.c0-L { color: #222; }
	.c1-L { color: #666; }
	.c2-L { color: #aaa; }
	.c3-L { color: #ccc; }
	.c4-L { color: #ddd; }
	.c5-L { color: #eee; }

	.cred-L { color: #f00; }
	.cblue-L { color: #00f; }
	.cgreen-L { color: #0f0; }
}
