/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	float Module
	

	class	suffix			result
	---------------------------------------
	f 		alphabetic		float alignment


	alphabetic index
	----------------
	n   =  none
	r	=  right
	l  	=  left

*/

.fn { float: none; }
.fl	{ float: left; }
.fr { float: right; }

@media (min-width:768px) {
	.fn-M { float: none; }
	.fl-M { float: left; }
	.fr-M { float: right; }
}

@media (min-width:1024px) {
	.fn-L { float: none; }
	.fl-L { float: left; }
	.fr-L { float: right; }
}