/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	float Module
	

	class	suffix			result
	---------------------------------------
	f 		alphabetic		float alignment


	alphabetic index
	----------------
	n   =  none
	r	=  right
	l  	=  left

*/

.fn { float: none; }
.fl	{ float: left; }
.fr { float: right; }

@media (min-width:$M) {
	.fn--m { float: none; }
	.fl--m { float: left; }
	.fr--m { float: right; }
}

@media (min-width:$bp--l) {
	.fn--l { float: none; }
	.fl--l { float: left; }
	.fr--l { float: right; }
}