// MACROPALPIS
// height module

.h100 { height: 100%; }
.h50  { height: 50%; }

.h1 { height: 16em;}
.h2 { height: 8em;}
.h3 { height: 4em;}
.h4 { height: 2em;}
.h5 { height: 1em;}
.h6 { height: .5em;}