/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	height Module
	

	class	suffix		result
	--------------------------
	h		numeric		height


	numeric index
	----------------
	x   =  em value
	xxx	=  percentage value

*/

.h1 { height: .5em; }
.h2 { height: 1em; }
.h3 { height: 2em; }
.h4 { height: 4em; }
.h5 { height: 8em; }
.h6 { height: 16em; }

.h100 { height: 100%; }
.h50  { height: 50%; }
.ha   { height: auto; }	

.vh100 { height: 100vh; }
.vh75 { height: 75vh; }
.vh50 { height: 50vh; }
.vh25 { height: 25vh; }

@media (min-width:48em) {
	.h1-M { height: .5em; }
	.h2-M { height: 1em; }
	.h3-M { height: 2em; }
	.h4-M { height: 4em; }
	.h5-M { height: 8em; }
	.h6-M { height: 16em; }

	.h100-M { height: 100%; }
	.h50-M  { height: 50%; }
	.ha-M   { height: auto; }

	.vh100-M { height: 100vh; }
	.vh75-M { height: 75vh; }
	.vh50-M { height: 50vh; }
	.vh25-M { height: 25vh; }	
}

@media (min-width:64em) {
	.h1-L { height: .5em; }
	.h2-L { height: 1em; }
	.h3-L { height: 2em; }
	.h4-L { height: 4em; }
	.h5-L { height: 8em; }
	.h6-L { height: 16em; }

	.h100-L { height: 100%; }
	.h50-L  { height: 50%; }
	.ha-L   { height: auto; }

	.vh100-L { height: 100vh; }
	.vh75-L { height: 75vh; }
	.vh50-L { height: 50vh; }
	.vh25-L { height: 25vh; }	
}