/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	height Module
	

	class	suffix		result
	--------------------------
	h		numeric		height


	numeric index
	----------------
	x   =  em value
	xxx	=  percentage value

*/

.h100 { height: 100%; }
.h50  { height: 50%; }
.ha   { height: auto; }	

.h1 { height: 16em;}
.h2 { height: 8em;}
.h3 { height: 4em;}
.h4 { height: 2em;}
.h5 { height: 1em;}
.h6 { height: .5em;}