/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	hover Module

*/


// basic dim hover

.hvr {
	transition: opacity .2s;
	&:hover {
		opacity: .75;
	}
}



// change cursor on hover

.crd {
	&:hover {
		cursor: default
	}
}

.crp {
	&:hover {
		cursor: pointer;
	}
}