// MACROPALPIS
// icon module

// common icon sizes
.i16	{ width: 16px; }
.i24	{ width: 24px; }
.i32	{ width: 32px; }
.i48	{ width: 48px; }
.i64	{ width: 64px; }
.i128	{ width: 128px; }

.i16, .i32, .i64, .i128 {
	height: auto;
}

@media (min-width:$bp--m) {
	.i16--m		{ width: 16px; }
	.i32--m		{ width: 32px; }
	.i64--m		{ width: 64px; }
	.i128--m	{ width: 128px; }
}

@media (min-width:$bp--l) {
	.i16--l		{ width: 16px; }
	.i32--l		{ width: 32px; }
	.i64--l		{ width: 64px; }
	.i128--l	{ width: 128px; }
}