/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	icon Module


	class	suffix		result
	-----------------------------
	i		numeric		icon size

*/


// common icon sizes

.i16,
.i24,
.i32,
.i48,
.i64,
.i128 {
	height: auto;
}

.i16	{ width: 1rem; } 	// 16px
.i24	{ width: 1.5rem; } 	// 24px
.i32	{ width: 2rem; } 	// 32px
.i48	{ width: 3rem; } 	// 48px
.i64	{ width: 4rem; } 	// 64px
.i128	{ width: 8rem; } 	// 128px

@media (min-width:768px) {
	.i16-M		{ width: 1rem; }
	.i24-M		{ width: 1.5rem; }
	.i32-M		{ width: 2rem; }
	.i48-M		{ width: 3rem; }
	.i64-M		{ width: 4rem; }
	.i128-M	{ width: 8rem; }
}

@media (min-width:1024px) {
	.i16-L		{ width: 1rem; }
	.i24-L		{ width: 1.5rem; }
	.i32-L		{ width: 2rem; }
	.i48-L		{ width: 3rem; }
	.i64-L		{ width: 4rem; }
	.i128-L	{ width: 8rem; }
}