/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	icon Module


	class	suffix		result
	-----------------------------
	i		numeric		icon size

*/


// common icon sizes

.i16,
.i24,
.i32,
.i48,
.i64,
.i128 {
	height: auto;
}

.i16	{ width: 1rem; } 	// 16px
.i24	{ width: 1.5rem; } 	// 24px
.i32	{ width: 2rem; } 	// 32px
.i48	{ width: 3rem; } 	// 48px
.i64	{ width: 4rem; } 	// 64px
.i128	{ width: 8rem; } 	// 128px

@media (min-width:$bp--m) {
	.i16--m		{ width: 1rem; }
	.i24--m		{ width: 1.5rem; }
	.i32--m		{ width: 2rem; }
	.i48--m		{ width: 3rem; }
	.i64--m		{ width: 4rem; }
	.i128--m	{ width: 8rem; }
}

@media (min-width:$bp--l) {
	.i16--l		{ width: 1rem; }
	.i24--l		{ width: 1.5rem; }
	.i32--l		{ width: 2rem; }
	.i48--l		{ width: 3rem; }
	.i64--l		{ width: 4rem; }
	.i128--l	{ width: 8rem; }
}