/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	line-height Module


	class	suffix			result
	----------------------------------------
	lh		numeric (em)	line height value

*/

.lh0	{ line-height: 0; }
.lh1	{ line-height: 1; }
.lh2	{ line-height: 2; }


// Line-height for headlines

.lhh	{ line-height: 1.3; }


// Line-height for parapgraphs

.lhp	{ line-height: 1.6; }