// MACROPALPIS
// margin module


/*
	suffix index
		none = all
		t = top
		r = right
		b = bottom
		l = left
*/


//special centering class
.mc 	{ margin-right: auto; margin-left: auto }

.m0 	{ margin: 0 }
.m1 	{ margin: 16em }
.m2 	{ margin: 4em }
.m3 	{ margin: 2em }
.m4 	{ margin: 1em }
.m5 	{ margin: .5em }
.m6 	{ margin: .25em }

.mt0 	{ margin-top: 0 }
.mt1 	{ margin-top: 16em }
.mt2 	{ margin-top: 4em }
.mt3 	{ margin-top: 2em }
.mt4 	{ margin-top: 1em }
.mt5 	{ margin-top: .5em }
.mt6 	{ margin-top: .25em }

.mr0 	{ margin-right: 0 }
.mr1 	{ margin-right: 16em }
.mr2 	{ margin-right: 4em }
.mr3 	{ margin-right: 2em }
.mr4 	{ margin-right: 1em }
.mr5 	{ margin-right: .5em }
.mr6 	{ margin-right: .25em }

.mb0 	{ margin-bottom: 0 }
.mb1 	{ margin-bottom: 16em }
.mb2 	{ margin-bottom: 4em }
.mb3 	{ margin-bottom: 2em }
.mb4 	{ margin-bottom: 1em }
.mb5 	{ margin-bottom: .5em }
.mb6 	{ margin-bottom: .25em }

.ml0 	{ margin-left: 0 }
.ml1 	{ margin-left: 16em }
.ml2 	{ margin-left: 4em }
.ml3 	{ margin-left: 2em }
.ml4 	{ margin-left: 1em }
.ml5 	{ margin-left: .5em }
.ml6 	{ margin-left: .25em }

@media (min-width:$bp--m) {
	.mc--m 	{ margin-right: auto; margin-left: auto }

	.m0--m 	{ margin: 0 }
	.m1--m 	{ margin: 16em }
	.m2--m 	{ margin: 4em }
	.m3--m 	{ margin: 2em }
	.m4--m 	{ margin: 1em }
	.m5--m 	{ margin: .5em }
	.m6--m 	{ margin: .25em }

	.mt0--m 	{ margin-top: 0 }
	.mt1--m 	{ margin-top: 16em }
	.mt2--m 	{ margin-top: 4em }
	.mt3--m 	{ margin-top: 2em }
	.mt4--m 	{ margin-top: 1em }
	.mt5--m 	{ margin-top: .5em }
	.mt6--m 	{ margin-top: .25em }

	.mr0--m 	{ margin-right: 0 }
	.mr1--m 	{ margin-right: 16em }
	.mr2--m 	{ margin-right: 4em }
	.mr3--m 	{ margin-right: 2em }
	.mr4--m 	{ margin-right: 1em }
	.mr5--m 	{ margin-right: .5em }
	.mr6--m 	{ margin-right: .25em }

	.mb0--m 	{ margin-bottom: 0 }
	.mb1--m 	{ margin-bottom: 16em }
	.mb2--m 	{ margin-bottom: 4em }
	.mb3--m 	{ margin-bottom: 2em }
	.mb4--m 	{ margin-bottom: 1em }
	.mb5--m 	{ margin-bottom: .5em }
	.mb6--m 	{ margin-bottom: .25em }

	.ml0--m 	{ margin-left: 0 }
	.ml1--m 	{ margin-left: 16em }
	.ml2--m 	{ margin-left: 4em }
	.ml3--m 	{ margin-left: 2em }
	.ml4--m 	{ margin-left: 1em }
	.ml5--m 	{ margin-left: .5em }
	.ml6--m 	{ margin-left: .25em }
}

@media (min-width:$bp--l) {
	.mc--l 	{ margin-right: auto; margin-left: auto }

	.m0--l 	{ margin: 0 }
	.m1--l 	{ margin: 16em }
	.m2--l 	{ margin: 4em }
	.m3--l 	{ margin: 2em }
	.m4--l 	{ margin: 1em }
	.m5--l 	{ margin: .5em }
	.m6--l 	{ margin: .25em }

	.mt0--l 	{ margin-top: 0 }
	.mt1--l 	{ margin-top: 16em }
	.mt2--l 	{ margin-top: 4em }
	.mt3--l 	{ margin-top: 2em }
	.mt4--l 	{ margin-top: 1em }
	.mt5--l 	{ margin-top: .5em }
	.mt6--l 	{ margin-top: .25em }

	.mr0--l 	{ margin-right: 0 }
	.mr1--l 	{ margin-right: 16em }
	.mr2--l 	{ margin-right: 4em }
	.mr3--l 	{ margin-right: 2em }
	.mr4--l 	{ margin-right: 1em }
	.mr5--l 	{ margin-right: .5em }
	.mr6--l 	{ margin-right: .25em }

	.mb0--l 	{ margin-bottom: 0 }
	.mb1--l 	{ margin-bottom: 16em }
	.mb2--l 	{ margin-bottom: 4em }
	.mb3--l 	{ margin-bottom: 2em }
	.mb4--l 	{ margin-bottom: 1em }
	.mb5--l 	{ margin-bottom: .5em }
	.mb6--l 	{ margin-bottom: .25em }

	.ml0--l 	{ margin-left: 0 }
	.ml1--l 	{ margin-left: 16em }
	.ml2--l 	{ margin-left: 4em }
	.ml3--l 	{ margin-left: 2em }
	.ml4--l 	{ margin-left: 1em }
	.ml5--l 	{ margin-left: .5em }
	.ml6--l 	{ margin-left: .25em }
}