/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	margin Module

	class	suffix		result
	----------------------------------
	m 		numeric		margin all
	mt 		numeric		margin top
	mr 		numeric		margin right
	mb 		numeric		margin bottom
	ml 		numeric		margin all


	alphabetic index
	----------------
	_  =  all

	t  =  top
	r  =  right
	b  =  bottom
	l  =  left

	c  =  center

*/

.mc 	{ margin-right: auto; margin-left: auto; }

.m0 	{ margin: 0 }
.m1 	{ margin: .25rem }
.m2 	{ margin: .5rem }
.m3 	{ margin: 1rem }
.m4 	{ margin: 2rem }
.m5 	{ margin: 4rem }
.m6 	{ margin: 8rem }
.m7 	{ margin: 16rem }

.mt0 	{ margin-top: 0 }
.mt1 	{ margin-top: .25rem }
.mt2 	{ margin-top: .5rem }
.mt3 	{ margin-top: 1rem }
.mt4 	{ margin-top: 2rem }
.mt5 	{ margin-top: 4rem }
.mt6 	{ margin-top: 8rem }
.mt7 	{ margin-top: 16rem }

.mr0 	{ margin-right: 0 }
.mr1 	{ margin-right: .25rem }
.mr2 	{ margin-right: .5rem }
.mr3 	{ margin-right: 1rem }
.mr4 	{ margin-right: 2rem }
.mr5 	{ margin-right: 4rem }
.mr6 	{ margin-right: 8rem }
.mr7 	{ margin-right: 16rem }

.mb0 	{ margin-bottom: 0 }
.mb1 	{ margin-bottom: .25rem }
.mb2 	{ margin-bottom: .5rem }
.mb3 	{ margin-bottom: 1rem }
.mb4 	{ margin-bottom: 2rem }
.mb5 	{ margin-bottom: 4rem }
.mb6 	{ margin-bottom: 8rem }
.mb7 	{ margin-bottom: 16rem }

.ml0 	{ margin-left: 0 }
.ml1 	{ margin-left: .25rem }
.ml2 	{ margin-left: .5rem }
.ml3 	{ margin-left: 1rem }
.ml4 	{ margin-left: 2rem }
.ml5 	{ margin-left: 4rem }
.ml6 	{ margin-left: 8rem }
.ml7 	{ margin-left: 16rem }

@media (min-width:768px) {
	.mc-M 	{ margin-right: auto; margin-left: auto; }

	.m0-M	{ margin: 0 }
	.m1-M	{ margin: .25rem }
	.m2-M	{ margin: .5rem }
	.m3-M	{ margin: 1rem }
	.m4-M	{ margin: 2rem }
	.m5-M	{ margin: 4rem }
	.m6-M	{ margin: 8rem }
	.m7-M	{ margin: 16rem }

	.mt0-M	{ margin-top: 0 }
	.mt1-M	{ margin-top: .25rem }
	.mt2-M	{ margin-top: .5rem }
	.mt3-M	{ margin-top: 1rem }
	.mt4-M	{ margin-top: 2rem }
	.mt5-M	{ margin-top: 4rem }
	.mt6-M	{ margin-top: 8rem }
	.mt7-M	{ margin-top: 16rem }

	.mr0-M	{ margin-right: 0 }
	.mr1-M	{ margin-right: .25rem }
	.mr2-M	{ margin-right: .5rem }
	.mr3-M	{ margin-right: 1rem }
	.mr4-M	{ margin-right: 2rem }
	.mr5-M	{ margin-right: 4rem }
	.mr6-M	{ margin-right: 8rem }
	.mr7-M	{ margin-right: 16rem }

	.mb0-M	{ margin-bottom: 0 }
	.mb1-M	{ margin-bottom: .25rem }
	.mb2-M	{ margin-bottom: .5rem }
	.mb3-M	{ margin-bottom: 1rem }
	.mb4-M	{ margin-bottom: 2rem }
	.mb5-M	{ margin-bottom: 4rem }
	.mb6-M	{ margin-bottom: 8rem }
	.mb7-M	{ margin-bottom: 16rem }

	.ml0-M	{ margin-left: 0 }
	.ml1-M	{ margin-left: .25rem }
	.ml2-M	{ margin-left: .5rem }
	.ml3-M	{ margin-left: 1rem }
	.ml4-M	{ margin-left: 2rem }
	.ml5-M	{ margin-left: 4rem }
	.ml6-M	{ margin-left: 8rem }
	.ml7-M	{ margin-left: 16rem }
}

@media (min-width:1024px) {
	.mc-L 	{ margin-right: auto; margin-left: auto; }

	.m0-L	{ margin: 0 }
	.m1-L	{ margin: .25rem }
	.m2-L	{ margin: .5rem }
	.m3-L	{ margin: 1rem }
	.m4-L	{ margin: 2rem }
	.m5-L	{ margin: 4rem }
	.m6-L	{ margin: 8rem }
	.m7-L	{ margin: 16rem }

	.mt0-L	{ margin-top: 0 }
	.mt1-L	{ margin-top: .25rem }
	.mt2-L	{ margin-top: .5rem }
	.mt3-L	{ margin-top: 1rem }
	.mt4-L	{ margin-top: 2rem }
	.mt5-L	{ margin-top: 4rem }
	.mt6-L	{ margin-top: 8rem }
	.mt7-L	{ margin-top: 16rem }

	.mr0-L	{ margin-right: 0 }
	.mr1-L	{ margin-right: .25rem }
	.mr2-L	{ margin-right: .5rem }
	.mr3-L	{ margin-right: 1rem }
	.mr4-L	{ margin-right: 2rem }
	.mr5-L	{ margin-right: 4rem }
	.mr6-L	{ margin-right: 8rem }
	.mr7-L	{ margin-right: 16rem }

	.mb0-L	{ margin-bottom: 0 }
	.mb1-L	{ margin-bottom: .25rem }
	.mb2-L	{ margin-bottom: .5rem }
	.mb3-L	{ margin-bottom: 1rem }
	.mb4-L	{ margin-bottom: 2rem }
	.mb5-L	{ margin-bottom: 4rem }
	.mb6-L	{ margin-bottom: 8rem }
	.mb7-L	{ margin-bottom: 16rem }

	.ml0-L	{ margin-left: 0 }
	.ml1-L	{ margin-left: .25rem }
	.ml2-L	{ margin-left: .5rem }
	.ml3-L	{ margin-left: 1rem }
	.ml4-L	{ margin-left: 2rem }
	.ml5-L	{ margin-left: 4rem }
	.ml6-L	{ margin-left: 8rem }
	.ml7-L	{ margin-left: 16rem }
}