/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	overflow Module
	

	class	suffix			result
	-------------------------------------
	o 		alphabetic		overflow mode


	alphabetic index
	----------------
	h   =  hidden
	v	=  visible
	s  	=  scroll

	xh	=  hidden horizontally
	xv	=  visible ..
	xs	=  scroll ..

	yh	=  hidden vertically
	yv	=  visible ..
	ys	=  scroll ..

*/

.oh  { overflow: hidden; }
.ov  { overflow: visible; }
.os  { overflow: scroll; }

.oxh { overflow-x: hidden; }
.oxv { overflow-x: visible; }
.oxs { overflow-x: scroll; }

.oyh { overflow-y: hidden; }
.oyv { overflow-y: visible; }
.oys { overflow-y: scroll; }

@media (min-width:$bp--m) {
	.oh--m  { overflow: hidden; }
	.ov--m  { overflow: visible; }
	.os--m  { overflow: scroll; }

	.oxh--m { overflow-x: hidden; }
	.oxv--m { overflow-x: visible; }
	.oxs--m { overflow-x: scroll; }

	.oyh--m { overflow-y: hidden; }
	.oyv--m { overflow-y: visible; }
	.oys--m { overflow-y: scroll; }
}

@media (min-width:$bp--l) {
	.oh--l  { overflow: hidden; }
	.ov--l  { overflow: visible; }
	.os--l  { overflow: scroll; }

	.oxh--l { overflow-x: hidden; }
	.oxv--l { overflow-x: visible; }
	.oxs--l { overflow-x: scroll; }

	.oyh--l { overflow-y: hidden; }
	.oyv--l { overflow-y: visible; }
	.oys--l { overflow-y: scroll; }
}