/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	overflow Module
	

	class	suffix			result
	-------------------------------------
	ov 		alphabetic		overflow mode


	alphabetic index
	----------------
	a   =  auto
	h   =  hidden
	v	=  visible
	s  	=  scroll

	xa	=  auto horizontally
	xh	=  hidden ..
	xv	=  visible ..
	xs	=  scroll ..

	ya	=  auto vertically
	yh	=  hidden ..
	yv	=  visible ..
	ys	=  scroll ..

*/

.ova  { overflow: auto; }
.ovh  { overflow: hidden; }
.ovv  { overflow: visible; }
.ovs  { overflow: scroll; }

.ovxa { overflow-x: auto; }
.ovxh { overflow-x: hidden; }
.ovxv { overflow-x: visible; }
.ovxs { overflow-x: scroll; }

.ovya { overflow-y: auto; }
.ovyh { overflow-y: hidden; }
.ovyv { overflow-y: visible; }
.ovys { overflow-y: scroll; }

@media (min-width:768px) {
	.ova-M  { overflow: auto; }
	.ovh-M  { overflow: hidden; }
	.ovv-M  { overflow: visible; }
	.ovs-M  { overflow: scroll; }

	.ovxa-M { overflow-x: auto; }
	.ovxh-M { overflow-x: hidden; }
	.ovxv-M { overflow-x: visible; }
	.ovxs-M { overflow-x: scroll; }

	.ovya-M { overflow-y: auto; }
	.ovyh-M { overflow-y: hidden; }
	.ovyv-M { overflow-y: visible; }
	.ovys-M { overflow-y: scroll; }
}

@media (min-width:1024px) {
	.ova-L  { overflow: auto; }
	.ovh-L  { overflow: hidden; }
	.ovv-L  { overflow: visible; }
	.ovs-L  { overflow: scroll; }

	.ovxa-L { overflow-x: auto; }
	.ovxh-L { overflow-x: hidden; }
	.ovxv-L { overflow-x: visible; }
	.ovxs-L { overflow-x: scroll; }

	.ovya-L { overflow-y: auto; }
	.ovyh-L { overflow-y: hidden; }
	.ovyv-L { overflow-y: visible; }
	.ovys-L { overflow-y: scroll; }
}