/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	overflow Module
	

	class	suffix			result
	-------------------------------------
	ov 		alphabetic		overflow mode


	alphabetic index
	----------------
	a   =  auto
	h   =  hidden
	v	=  visible
	s  	=  scroll

	xa	=  auto horizontally
	xh	=  hidden ..
	xv	=  visible ..
	xs	=  scroll ..

	ya	=  auto vertically
	yh	=  hidden ..
	yv	=  visible ..
	ys	=  scroll ..

*/

.ova  { overflow: auto; }
.ovh  { overflow: hidden; }
.ovv  { overflow: visible; }
.ovs  { overflow: scroll; }

.ovxa { overflow-x: auto; }
.ovxh { overflow-x: hidden; }
.ovxv { overflow-x: visible; }
.ovxs { overflow-x: scroll; }

.ovya { overflow-y: auto; }
.ovyh { overflow-y: hidden; }
.ovyv { overflow-y: visible; }
.ovys { overflow-y: scroll; }

@media (min-width:$M) {
	.ova--m  { overflow: auto; }
	.ovh--m  { overflow: hidden; }
	.ovv--m  { overflow: visible; }
	.ovs--m  { overflow: scroll; }

	.ovxa--m { overflow-x: auto; }
	.ovxh--m { overflow-x: hidden; }
	.ovxv--m { overflow-x: visible; }
	.ovxs--m { overflow-x: scroll; }

	.ovya--m { overflow-y: auto; }
	.ovyh--m { overflow-y: hidden; }
	.ovyv--m { overflow-y: visible; }
	.ovys--m { overflow-y: scroll; }
}

@media (min-width:$bp--l) {
	.ova--l  { overflow: auto; }
	.ovh--l  { overflow: hidden; }
	.ovv--l  { overflow: visible; }
	.ovs--l  { overflow: scroll; }

	.ovxa--l { overflow-x: auto; }
	.ovxh--l { overflow-x: hidden; }
	.ovxv--l { overflow-x: visible; }
	.ovxs--l { overflow-x: scroll; }

	.ovya--l { overflow-y: auto; }
	.ovyh--l { overflow-y: hidden; }
	.ovyv--l { overflow-y: visible; }
	.ovys--l { overflow-y: scroll; }
}