/* 

	padding module

	suffix index:

		a   = all

		x	= horizontal
		y	= vertical

		t 	= top
		r 	= right
		b 	= bottom
		l 	= left

*/

.pa1 	{ padding: 16em; }
.pa2 	{ padding: 8em; }
.pa3 	{ padding: 4em; }
.pa4 	{ padding: 2em; }
.pa5 	{ padding: 1em; }
.pa6 	{ padding: .5em; }

.pt1 	{ padding-top: 16em; }
.pt2 	{ padding-top: 8em; }
.pt3 	{ padding-top: 4em; }
.pt4 	{ padding-top: 2em; }
.pt5 	{ padding-top: 1em; }
.pt6 	{ padding-top: .5em; }

.pr1 	{ padding-right: 16em; }
.pr2 	{ padding-right: 8em; }
.pr3 	{ padding-right: 4em; }
.pr4 	{ padding-right: 2em; }
.pr5 	{ padding-right: 1em; }
.pr6 	{ padding-right: .5em; }

.pb1 	{ padding-bottom: 16em; }
.pb2 	{ padding-bottom: 8em; }
.pb3 	{ padding-bottom: 4em; }
.pb4 	{ padding-bottom: 2em; }
.pb5 	{ padding-bottom: 1em; }
.pb6 	{ padding-bottom: .5em; }

.pl1 	{ padding-left: 16em; }
.pl2 	{ padding-left: 8em; }
.pl3 	{ padding-left: 4em; }
.pl4 	{ padding-left: 2em; }
.pl5 	{ padding-left: 1em; }
.pl6 	{ padding-left: .5em; }