/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	text-decoration Module
	

	class	suffix			result
	---------------------------------------------
	td 		alphabetic		text decoration style


	alphabetic index
	----------------
	n   =  none
	u	=  underline
	o  	=  overline
	l  	=  line-through

*/

.tdn { text-decoration: none; }
.tdu { text-decoration: underline; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }

@media (min-width:48em) {
	.tdn-M { text-decoration: none; }
	.tdu-M { text-decoration: underline; }
	.tdo-M { text-decoration: overline; }
	.tdl-M { text-decoration: line-through; }
}

@media (min-width:64em) {
	.tdn-L { text-decoration: none; }
	.tdu-L { text-decoration: underline; }
	.tdo-L { text-decoration: overline; }
	.tdl-L { text-decoration: line-through; }
}