/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	text-transform Module
	

	class	suffix			result
	-------------------------------------------
	tt 		alphabetic		text transformation


	alphabetic index
	----------------
	u   =  uppercase
	l	=  lowercase
	c  	=  capitalize

*/

.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }

@media (min-width:$M) {
	.ttu-M { text-transform: uppercase; }
	.ttl-M { text-transform: lowercase; }
	.ttc-M { text-transform: capitalize; }
}

@media (min-width:$L) {
	.ttu--l { text-transform: uppercase; }
	.ttl--l { text-transform: lowercase; }
	.ttc--l { text-transform: capitalize; }
}