// MACROPALPIS
// text-align module

.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.taj { text-align: justify; }

@media (min-width:$bp_m) {
	.tal_m { text-align: left; }
	.tar_m { text-align: right; }
	.tac_m { text-align: center; }
	.taj_m { text-align: justify; }
}

@media (min-width:$bp_l) {
	.tal_l { text-align: left; }
	.tar_l { text-align: right; }
	.tac_l { text-align: center; }
	.taj_l { text-align: justify; }
}