// MACROPALPIS
// text-decoration module

.tdn { text-decoration: none; }
.tdu { text-decoration: underline; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }

@media (min-width:$bp--m) {
	.tdn--m { text-decoration: none; }
	.tdu--m { text-decoration: underline; }
	.tdo--m { text-decoration: overline; }
	.tdl--m { text-decoration: line-through; }
}

@media (min-width:$bp--l) {
	.tdn--l { text-decoration: none; }
	.tdu--l { text-decoration: underline; }
	.tdo--l { text-decoration: overline; }
	.tdl--l { text-decoration: line-through; }
}