/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	text-align Module
	

	class	suffix			result
	--------------------------------------
	ta 		alphabetic		text alignment


	alphabetic index
	----------------
	l   =  left
	r	=  right
	c  	=  center
	j  	=  justify

*/

.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.taj { text-align: justify; }

@media (min-width:$M) {
	.tal--m { text-align: left; }
	.tar--m { text-align: right; }
	.tac--m { text-align: center; }
	.taj--m { text-align: justify; }
}

@media (min-width:$bp--l) {
	.tal--l { text-align: left; }
	.tar--l { text-align: right; }
	.tac--l { text-align: center; }
	.taj--l { text-align: justify; }
}