/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	text-align Module
	

	class	suffix			result
	--------------------------------------
	ta 		alphabetic		text alignment


	alphabetic index
	----------------
	l   =  left
	r	=  right
	c  	=  center
	j  	=  justify

*/

.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.taj { text-align: justify; }

@media (min-width:768px) {
	.tal-M { text-align: left; }
	.tar-M { text-align: right; }
	.tac-M { text-align: center; }
	.taj-M { text-align: justify; }
}

@media (min-width:1024px) {
	.tal-L { text-align: left; }
	.tar-L { text-align: right; }
	.tac-L { text-align: center; }
	.taj-L { text-align: justify; }
}