/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	Variables

	1.	Base
	2.	Breakpoints
	3.	Typography
	4.	Color

*/


// 1. Base
// -------

$body-bg:			#f7f7f7;
$body-color:		#111;
$body-font-size:	16px;
$body-line-height:	1.6;


// 2. Breakpoints
// --------------

$M : 768px; 	// Breakpoint Medium
$L : 1024px; 	// Breakpoint Large


// 3. Typography 
// -------------

// Font families

$font-serif:		"Georgia", serif;
$font-sans-serif:	"Helvetica", "Arial", sans-serif;
$font-mono:			"Lucida Console", "Courier New", monospace;


// 4. Color
// -------- 

// Grayscales

$c-black:		#111;
$c-gray:		#aaa;
$c-silver:		#ddd;
$c-white:		#fff;


// Brand colors

$c-primary:		#222;
$c-secondary:	#222;
$c-tertiary:	#222;