/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	Variables

	1.	Base
	2.	Breakpoints
	3.	Color
	4.	Typography

*/


// 1. Base
// -------

$body-bg:			#f7f7f7;
$body-color:		#111;
$body-font-size:	16px;
$body-line-height:	1.6;


// 2. Breakpoints
// --------------

// Starting from tablet / small desktop

$bp--m : 768px;
$bp--l : 1024px;


// 3. Color
// -------- 

// Grayscales

$color-black:		#111;
$color-gray:		#aaa;
$color-silver:		#ddd;
$color-white:		#fff;


// Brand colors

$color-primary:		#50E3C2;
$color-secondary:	#7053FF;
$color-tertiary:	#222;


// Better standard css colors
// credits to http://clrs.cc/

$color-navy:		#001f3f;
$color-blue:		#0074d9;
$color-aqua:		#7fdbff;
$color-teal:		#39cccc;
$color-olive:		#3d9970;
$color-green:		#2ecc40;
$color-lime:		#01ff70;
$color-yellow:		#ffdc00;
$color-orange:		#ff851b;
$color-red:			#ff4136;
$color-maroon:		#85144b;
$color-fuchsia:		#f012be;
$color-purple:		#b10dc9;


// 4. Typography 
// -------------

// Font families

$font-serif:		"Georgia", serif;
$font-sans-serif:	"Helvetica", "Arial", sans-serif;
$font-mono:			"Lucida Console", "Courier New", monospace;