// MACROPALPIS
// visibility module

.vv { visibility: visible; }
.vh { visibility: hidden; }
.vc { visibility: collapse; }

@media (min-width:$bp--m) {
	.vv--m { visibility: visible; }
	.vh--m { visibility: hidden; }
	.vc--m { visibility: collapse; }
}

@media (min-width:$bp--l) {
	.vv--l { visibility: visible; }
	.vh--l { visibility: hidden; }
	.vc--l { visibility: collapse; }
}