/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	visibility Module
	

	class	suffix			result
	---------------------------------------
	v 		alphabetic		visibility mode


	alphabetic index
	----------------
	v   =  visible
	h	=  hidden
	c  	=  collapse

*/

.vv { visibility: visible; }
.vh { visibility: hidden; }
.vc { visibility: collapse; }

@media (min-width:$M) {
	.vv-M { visibility: visible; }
	.vh-M { visibility: hidden; }
	.vc-M { visibility: collapse; }
}

@media (min-width:$L) {
	.vv--l { visibility: visible; }
	.vh--l { visibility: hidden; }
	.vc--l { visibility: collapse; }
}