/* 

	visibility module

*/

.vv { visibility: visible; }
.vh { visibility: hidden; }
.vc { visibility: collapse; }

@media (min-width:$bp_m) {
	.vv_m { visibility: visible; }
	.vh_m { visibility: hidden; }
	.vc_m { visibility: collapse; }
}

@media (min-width:$bp_l) {
	.vv_l { visibility: visible; }
	.vh_l { visibility: hidden; }
	.vc_l { visibility: collapse; }
}