// MACROPALPIS
// width module

.wa		{ width: auto; }
.w0		{ width: 0%; }
.w10	{ width: 10%; }
.w16	{ width: 16.66%; }
.w20	{ width: 20%; }
.w25	{ width: 25%; }
.w33	{ width: 33.33%; }
.w40	{ width: 40%; }
.w50	{ width: 50%; }
.w66	{ width: 66.66%; }
.w100 	{ width: 100%; }

@media (min-width:$bp--m) {
	.w0--m	{ width: 0%; }
	.w10--m	{ width: 10%; }
	.w16--m	{ width: 16.66%; }
	.w20--m	{ width: 20%; }
	.w25--m	{ width: 25%; }
	.w33--m	{ width: 33.33%; }
	.w40--m	{ width: 40%; }
	.w50--m	{ width: 50%; }
	.w66--m	{ width: 66.66%; }
	.w100--m	{ width: 100%; }
}

@media (min-width:$bp--l) {
	.w0--l	{ width: 0%; }
	.w10--l	{ width: 10%; }
	.w16--l	{ width: 16.66%; }
	.w20--l	{ width: 20%; }
	.w25--l	{ width: 25%; }
	.w33--l	{ width: 33.33%; }
	.w40--l	{ width: 40%; }
	.w50--l	{ width: 50%; }
	.w66--l	{ width: 66.66%; }
	.w100--l	{ width: 100%; }
}