/*

	Macropalpis v1.0.0 | MIT License | git.io/vEucl

	width Module
	

	class	suffix			result
	------------------------------
	w		alphabetic		width
	w		numeric			width


	numeric/alphabetic index
	------------------------
	a	=  auto
	0	=  zero
	xx	=  percentage value

*/

.wa		{ width: auto; }
.w0		{ width: 0; }

.w1 	{ width: .5em; }
.w2 	{ width: 1em; }
.w3 	{ width: 2em; }
.w4 	{ width: 4em; }
.w5 	{ width: 8em; }
.w6 	{ width: 16em; }

.w10	{ width: 10%; }
.w16	{ width: 16.66%; }
.w20	{ width: 20%; }
.w25	{ width: 25%; }
.w33	{ width: 33.33%; }
.w40	{ width: 40%; }
.w50	{ width: 50%; }
.w66	{ width: 66.66%; }
.w100 	{ width: 100%; }

@media (min-width:48em) {
	.wa-M	{ width: auto; }
	.w0-M	{ width: 0; }

	.w1-M 	{ width: .5em; }
	.w2-M 	{ width: 1em; }
	.w3-M 	{ width: 2em; }
	.w4-M 	{ width: 4em; }
	.w5-M 	{ width: 8em; }
	.w6-M 	{ width: 16em; }

	.w10-M	{ width: 10%; }
	.w16-M	{ width: 16.66%; }
	.w20-M	{ width: 20%; }
	.w25-M	{ width: 25%; }
	.w33-M	{ width: 33.33%; }
	.w40-M	{ width: 40%; }
	.w50-M	{ width: 50%; }
	.w66-M	{ width: 66.66%; }
	.w100-M	{ width: 100%; }
}

@media (min-width:64em) {
	.wa-L	{ width: auto; }
	.w0-L	{ width: 0; }

	.w1-L 	{ width: .5em; }
	.w2-L 	{ width: 1em; }
	.w3-L 	{ width: 2em; }
	.w4-L 	{ width: 4em; }
	.w5-L 	{ width: 8em; }
	.w6-L 	{ width: 16em; }

	.w10-L	{ width: 10%; }
	.w16-L	{ width: 16.66%; }
	.w20-L	{ width: 20%; }
	.w25-L	{ width: 25%; }
	.w33-L	{ width: 33.33%; }
	.w40-L	{ width: 40%; }
	.w50-L	{ width: 50%; }
	.w66-L	{ width: 66.66%; }
	.w100-L	{ width: 100%; }
}