/*
	Macropalpis
	Font-family module
*/

.serif {
	font-family: serif; 
}

.sans {
	font-family: sans-serif; 
}

.mono {
	font-family: monospace; 
}

@media (min-width: 48em) {

	.serif-m {
		font-family: serif; 
	}

	.sans-m {
		font-family: sans-serif; 
	}

	.mono-m {
		font-family: monospace; 
	}	

}