/*
	Macropalpis
	Padding module
*/

.p0 { padding: 0; }
.p1 { padding: .25rem; }
.p2 { padding: .5rem; }
.p3 { padding: 1rem; }
.p4 { padding: 2rem; }
.p5 { padding: 4rem; }
.p6 { padding: 8rem; }
.p7 { padding: 16rem; }

.pt0 { padding-top: 0; }
.pt1 { padding-top: .25rem; }
.pt2 { padding-top: .5rem; }
.pt3 { padding-top: 1rem; }
.pt4 { padding-top: 2rem; }
.pt5 { padding-top: 4rem; }
.pt6 { padding-top: 8rem; }
.pt7 { padding-top: 16rem; }

.pr0 { padding-right: 0; }
.pr1 { padding-right: .25rem; }
.pr2 { padding-right: .5rem; }
.pr3 { padding-right: 1rem; }
.pr4 { padding-right: 2rem; }
.pr5 { padding-right: 4rem; }
.pr6 { padding-right: 8rem; }
.pr7 { padding-right: 16rem; }

.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: .25rem; }
.pb2 { padding-bottom: .5rem; }
.pb3 { padding-bottom: 1rem; }
.pb4 { padding-bottom: 2rem; }
.pb5 { padding-bottom: 4rem; }
.pb6 { padding-bottom: 8rem; }
.pb7 { padding-bottom: 16rem; }

.pl0 { padding-left: 0; }
.pl1 { padding-left: .25rem; }
.pl2 { padding-left: .5rem; }
.pl3 { padding-left: 1rem; }
.pl4 { padding-left: 2rem; }
.pl5 { padding-left: 4rem; }
.pl6 { padding-left: 8rem; }
.pl7 { padding-left: 16rem; }

.px0 {padding-left: 0; padding-right: 0;}
.px1 {padding-left: .25rem; padding-right: .25rem;}
.px2 {padding-left: .5rem; padding-right: .5rem;}
.px3 {padding-left: 1rem; padding-right: 1rem;}
.px4 {padding-left: 2rem; padding-right: 2rem;}
.px5 {padding-left: 4rem; padding-right: 4rem;}
.px6 {padding-left: 8rem; padding-right: 8rem;}
.px7 {padding-left: 16rem; padding-right: 16rem;}

.py0 { padding-top: 0; padding-bottom: 0; }
.py1 { padding-top: .25rem; padding-bottom: .25rem; }
.py2 { padding-top: .5rem; padding-bottom: .5rem; }
.py3 { padding-top: 1rem; padding-bottom: 1rem; }
.py4 { padding-top: 2rem; padding-bottom: 2rem; }
.py5 { padding-top: 4rem; padding-bottom: 4rem; }
.py6 { padding-top: 8rem; padding-bottom: 8rem; }
.py7 { padding-top: 16rem; padding-bottom: 16rem; }

@media (min-width: 48em) {

	.p0-m { padding: 0; }
	.p1-m { padding: .25rem; }
	.p2-m { padding: .5rem; }
	.p3-m { padding: 1rem; }
	.p4-m { padding: 2rem; }
	.p5-m { padding: 4rem; }
	.p6-m { padding: 8rem; }
	.p7-m { padding: 16rem; }

	.pt0-m { padding-top: 0; }
	.pt1-m { padding-top: .25rem; }
	.pt2-m { padding-top: .5rem; }
	.pt3-m { padding-top: 1rem; }
	.pt4-m { padding-top: 2rem; }
	.pt5-m { padding-top: 4rem; }
	.pt6-m { padding-top: 8rem; }
	.pt7-m { padding-top: 16rem; }

	.pr0-m { padding-right: 0; }
	.pr1-m { padding-right: .25rem; }
	.pr2-m { padding-right: .5rem; }
	.pr3-m { padding-right: 1rem; }
	.pr4-m { padding-right: 2rem; }
	.pr5-m { padding-right: 4rem; }
	.pr6-m { padding-right: 8rem; }
	.pr7-m { padding-right: 16rem; }

	.pb0-m { padding-bottom: 0; }
	.pb1-m { padding-bottom: .25rem; }
	.pb2-m { padding-bottom: .5rem; }
	.pb3-m { padding-bottom: 1rem; }
	.pb4-m { padding-bottom: 2rem; }
	.pb5-m { padding-bottom: 4rem; }
	.pb6-m { padding-bottom: 8rem; }
	.pb7-m { padding-bottom: 16rem; }

	.pl0-m { padding-left: 0; }
	.pl1-m { padding-left: .25rem; }
	.pl2-m { padding-left: .5rem; }
	.pl3-m { padding-left: 1rem; }
	.pl4-m { padding-left: 2rem; }
	.pl5-m { padding-left: 4rem; }
	.pl6-m { padding-left: 8rem; }
	.pl7-m { padding-left: 16rem; }

	.px0-m {padding-left: 0; padding-right: 0;}
	.px1-m {padding-left: .25rem; padding-right: .25rem;}
	.px2-m {padding-left: .5rem; padding-right: .5rem;}
	.px3-m {padding-left: 1rem; padding-right: 1rem;}
	.px4-m {padding-left: 2rem; padding-right: 2rem;}
	.px5-m {padding-left: 4rem; padding-right: 4rem;}
	.px6-m {padding-left: 8rem; padding-right: 8rem;}
	.px7-m {padding-left: 16rem; padding-right: 16rem;}

	.py0-m { padding-top: 0; padding-bottom: 0; }
	.py1-m { padding-top: .25rem; padding-bottom: .25rem; }
	.py2-m { padding-top: .5rem; padding-bottom: .5rem; }
	.py3-m { padding-top: 1rem; padding-bottom: 1rem; }
	.py4-m { padding-top: 2rem; padding-bottom: 2rem; }
	.py5-m { padding-top: 4rem; padding-bottom: 4rem; }
	.py6-m { padding-top: 8rem; padding-bottom: 8rem; }
	.py7-m { padding-top: 16rem; padding-bottom: 16rem; }

}