/*
	Macropalpis
	Text-align module
*/

.tl,
.text-left {
	text-align: left;
}

.tr,
.text-right {
	text-align: right;
}

.tc,
.text-center {
	text-align: center;
}

.tj,
.justify {
	text-align: justify;
}